<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725041116937-goaoin4v32c3oh2djr9i504uu8gokjca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725041116937-goaoin4v32c3oh2djr9i504uu8gokjca</string>
	<key>API_KEY</key>
	<string>AIzaSyAD0SjMMZ-TkLK966G4sufho1Id1fNDbCM</string>
	<key>GCM_SENDER_ID</key>
	<string>725041116937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vinhmdev</string>
	<key>PROJECT_ID</key>
	<string>vinhmdev</string>
	<key>STORAGE_BUCKET</key>
	<string>vinhmdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725041116937:ios:00930c5404776f561dc5d8</string>
</dict>
</plist>